  <div class="masthead clearfix">
<div class="navbar navbar-toggleable-md navbar-fluid navbar-light custom-color">
    <div class="inner">
      <h3 class="masthead-brand">Preston Matheson</h3>
      <nav class="nav nav-masthead app-nav">
        <%= nav_helper 'nav-link', 'span' %>
        <%= login_helper 'nav-link' %> 
      </nav>
    </div>
  </div>
</div>