<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>I'm 19 years old, single as a pringle, and loving this adventure called <em>life</em>. Feel free to visit me on my social media platforms!</p>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/prestonmatheson" target="_blank"><%= fa_icon "github-square" %></a></li>
      <li><a href="https://www.facebook.com/preston.matheson" target="_blank"><%= fa_icon "facebook-square" %></a></li>
      <li><a href="https://www.instagram.com/theprestonjames/?hl=en" target="_blank"><%= fa_icon "instagram" %></a></li>
      <li><a href="https://twitter.com/pmphoto123" target="_blank"><%= fa_icon "twitter-square" %></a></li>
    </ol>
  </div>
</div>


