<h1>About Me?</h1>
<p>If there is one thing I take pride in, it is messing up more than anyone else. As a developer, you may think this puts me at a disadvantage to my peers. This is where you would be very, <b>VERY</b> wrong. Every time I make a mistake, cause an error, or break something...It puts me that much further ahead. I have then learned exactly how to fix that problem in the future. So my model is to (as my old music teacher used to say) "When making a mistake, do it LOUD and do it <b>PROUD!"</p>
