<div class="inner cover">
  <h1 class="cover-heading">My Guide to "Breaking Things"</h1>
  <p class="lead">Be curious! Always push yourself to where you are uncomfortable. It is within the struggle and, in turn, finding the solution you will find happiness. </p>
  <p class="lead">
  <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>

